body {
  font-family: arial, sans-serif;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

h1 {
  color: rgb(8, 94, 6);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
h5 {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
img {
  margin-top: 5px;
  margin-left: 16px;
}

p {
  text-align: center;
  font-size: 15px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: rgb(8, 94, 6);
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 100px auto;
}
.weather-app {
  color: rgb(8, 94, 6);
  padding: 20px 20px;
  padding-bottom: 200px;
  border: 2px solid rgb(252, 34, 34);
  border-radius: 10px;
  background-image: url("/images/backgroundPink.jpg");
  background-size: cover;
}

.temperature {
  color: rgb(8, 94, 6);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.footer {
  margin-left: 255px;
  margin-top: -100px;
  font-weight: bold;
}

.fa-search {
  padding: 0;
  margin: 0;
  color: crimson;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 40px;
}

.form-control {
  width: 373px;
}

.btn-success {
  margin-left: -10px;
}

.btn-primary {
  width: 90px;
}

.vectors {
  margin-left: 200px;
}
