body {
  font-family: arial, sans-serif;
  background-size: cover;
  background-image: url("/images/backgroundpink.gif");
}

h1 {
  color: #0a0a0a;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
h5 {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
img {
  margin-top: 5px;
  margin-left: 16px;
}

p {
  text-align: center;
  font-size: 15px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 100px auto;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.footer {
  margin-left: 255px;
  margin-top: -100px;
  font-weight: bold;
}

.fa-search {
  padding: 0;
  margin: 0;
  color: crimson;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 40px;
}

.form-control {
  width: 373px;
}

.btn-success {
  margin-left: -10px;
}

.btn-primary {
  width: 90px;
}
