body {
  font-family: arial, sans-serif;
}

h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}

h5 {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
img {
  margin-top: -15px;
  margin-left: -15px;
}

p {
  text-align: center;
  font-size: 15px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 100px auto;
}
.weather-app {
  padding: 20px 20px;
  padding-bottom: 50px;
  border: 2px solid rgb(252, 34, 34);
  border-radius: 10px;
  background-image: url("../images/backgroundPink.jpg");
  background-size: cover;
  margin-top: -80px;
}

.temperature {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
}

.humidWind {
  margin-left: 50px;
  margin-top: 10px;
}

.weather-forecast {
  margin-top: 50px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  background-color: #ca7968;
  background-image: linear-gradient(315deg, #ca7968 0%, #0c0c0c 74%);
  border-radius: 10px;
}
.weather-forecast h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
  margin-top: 5px;
}
.units {
  color: #fff;
  position: relative;
  top: -28px;
}

.search-form {
  margin-bottom: 20px;
}

.fa-search {
  padding: 0;
  margin: 0;
  color: crimson;
}
.form-control {
  width: 373px;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 38px;
}

.btn-success {
  margin-left: -10px;
  background-color: rgb(16, 146, 23);
  border-color: transparent;
}

.btn-primary {
  width: 90px;
}

.footer {
  font-weight: bold;
}

.vectors {
  margin-left: 190px;
}

.weather-temperature .active {
  color: #fff;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.currentLocation {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: -20px;
}

.currentLocation:hover {
  cursor: pointer;
}
